.donation-section {
    border: 1px solid #F99659;
    padding: 20px;
    margin: 0 auto 50px; /* Combined centering and bottom margin */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 95%; /* Adjust to be slightly smaller than the navigation bar */
}

.donation-content {
    display: flex;
    justify-content: space-between; /* Keeps the text and buttons separated */
    align-items: flex-start; /* Aligns items to the top */
    flex-wrap: wrap; /* Allows items to wrap when needed */
    width: 100%; /* Ensure full width is used */
    margin-top: 150px;
}

.text-section {
    flex-basis: 50%; /* Takes up half of the container's width */
    max-width: 50%; /* Ensures it doesn't grow beyond half width */
}

.impact-text {
    font-size: 35px; /* Make this text slightly larger */
    margin-bottom: 10px; /* Reduced margin */
}

.donate-text {
    font-size: 24px; /* Slightly smaller than .impact-text */
    margin-bottom: 20px; /* Space before the buttons */
}

.text-highlight {
    font-weight: bold;
    color: #F99659;
}

.donation-buttons {
    flex-basis: 50%; /* Takes up the remaining half */
    max-width: 50%; /* Ensures it doesn't grow beyond half width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the buttons */
    justify-content: center; /* Vertically centers the content in the available space */
}

.donation-button {
    border: 2px solid #F99659;
    border-radius: 7px; /* Adjusted for slightly rounded corners */
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 20px 20px; /* Increased vertical padding for a taller button */
    width: 700px; /* Set width the same for 'Give Once', 'Monthly', and amount options */
    transition: all 0.3s ease; /* Optional: For smooth transition effects */
}

.donation-option,
.amount-option {
    border: 2px solid #F99659;
    border-radius: 7px; /* Adjusted for slightly rounded corners */
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 20px 20px; /* Increased vertical padding for a taller button */
    width: 416px; /* Set width the same for 'Give Once', 'Monthly', and amount options */
    transition: all 0.3s ease;
}

.amount-option {
    width: 165px; /* Sets the width for the amount option buttons */
    margin-bottom: 10px; /* Adds space between the amount buttons */
}
.amounts-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.donation-custom-amount,
.custom-amount-input {
    border: 2px solid #F99659;
    border-radius: 25px; /* More pronounced rounded corners for the custom amount input */
    padding: 10px 20px;
}

.donation-custom-amount {
    border: none; /* Removes all borders */
    margin-top: 50px;
    padding-bottom: 10px; /* Adds padding to lift the input field off the bottom line */
    display: flex;
    justify-content: space-between; /* Aligns the symbol and text to the ends */
    align-items: center;
    width: 93%;
    position: relative; /* Sets position context for absolute positioning */
}

/* Currency symbol style */
.currency-symbol {
    font-size: 24px; /* Keeps the font size */
    position: absolute; /* Absolute position to place on the left */
    left: 0; /* Aligns to the left */
    bottom: 10px; /* Positions above the bottom line */
}

.custom-amount-input {
    border: none; /* Removes all borders */
    font-size: 20px;
    flex-grow: 1; /* Input grows to fill space */
    outline: none; /* Removes the outline */
    position: absolute; /* Absolute position to overlap the line */
    background: transparent; /* Ensures the input has no background */
    width: calc(100% - 60px); /* Full width minus currency symbol and label */
    left: 30px; /* Position to the right of the currency symbol */
}

.custom-amount-input::placeholder {
    color: transparent; /* Hides the placeholder */
}

.donation-option.active,
.amount-option.active {
    background-color: #F99659;
    color: #fff;
}
.donation-option.active:hover,
.amount-option.active:hover {
    background-color: #F99659;
    color: #fff;
}

/* Hover states for interactivity */
.donation-option:hover,
.amount-option:hover,
.donation-button:hover {
    background-color: #F99659;
    color: #fff;
}

.donation-amounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Evenly distributes space around the buttons */
    width: 100%; /* Full width to align with the option buttons above */
}

.options-row,
.amounts-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.amounts-row .amount-column {
    display: flex;
    align-items: center; /* Align the buttons in the center of the column */
    width: auto; /* Change from 50% to auto to allow buttons to size themselves */
}

/* USD label style */
.usd-label {
    font-size: 20px; /* Sets the font size */
    color: #000; /* Sets the color to black */
    font-weight: bold; /* Makes the text bold */
    position: absolute; /* Absolute position to place on the right */
    right: 0; /* Aligns to the right */
    bottom: 10px; /* Positions above the bottom line */
}
/* Removes focus border on input elements */
input:focus {
    outline: none;
}

/* Adds the bottom line for the custom amount input */
.donation-custom-amount::after {
    content: ''; /* Necessary for pseudo-elements */
    position: absolute; /* Absolute position within the container */
    left: 0; /* Aligns to the left edge */
    right: 0; /* Aligns to the right edge */
    bottom: 0; /* Positions at the bottom */
    height: 2px; /* Height of the line */
    background-color: #F99659; /* Color of the line */
}

/* Tablet screens */
@media (max-width: 1670px) {
    .donation-content {
        flex-direction: column;
        align-items: center;
    }
    .text-section, .donation-buttons {
        flex-basis: 100%;
        max-width: 100%;
    }
    .impact-text {
        font-size: 28px; /* Adjusted for tablet screens */
    }
    .donate-text {
        font-size: 20px; /* Adjusted for tablet screens */
    }
    .donation-button,
    .donation-option,
    .amount-option {
        width: 60%; /* Adjust button width for smaller screens */
        font-size: 18px; /* Adjust font size for readability */
        padding: 15px 15px; /* Adjust padding for a proportional look */
    }
    .donation-custom-amount {
        flex-direction: column;
        align-items: center;
    }
    .custom-amount-input,
    .currency-symbol,
    .usd-label {
        position: static; /* Reset position for better alignment */
        margin: 5px 0; /* Add some spacing */
    }
    .donation-custom-amount {
        flex-direction: row; /* Change back to row for correct positioning */
        justify-content: center; /* Center the content */
        position: relative; /* Ensure the position is relative for children positioning */
    }

    .currency-symbol,
    .usd-label {
        position: static; /* Remove absolute positioning */
        margin: 0 5px; /* Add some horizontal margin */
    }

    .custom-amount-input {
        flex-grow: 1; /* Allow the input to grow as needed */
        margin: 0 10px; /* Add some horizontal margin */
    }
}

/* Mobile phones */
@media (max-width: 526px) {
    /* Centering text */
    .text-section {
        text-align: center;
    }
    .impact-text,
    .donate-text {
        font-size: 22px; /* Adjust if necessary for better visibility */
    }

    /* Stacking the Give Once and Monthly buttons vertically */
    .options-row {
        flex-direction: column;
        align-items: center;
    }
    .donation-option {
        width: 80%; /* Adjust based on your design preference */
        margin: 10px 0; /* Adds space between these buttons */
    }

    /* Adjusting the layout for amount options */
    .amounts-row {
        flex-direction: column;
        align-items: center;
    }
    .amount-column {
        display: flex;
        justify-content: space-between;
        width: 100%; /* Ensures that the container takes full width */
    }
    .amount-option {
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        width: calc(50% - 10px); /* Adjusts width accounting for margin and ensures buttons are the same width */
        margin: 5px; /* Adjusts margin to ensure consistent spacing */
    }

    .donation-custom-amount {
        flex-direction: row; /* Ensure alignment is in a row */
        justify-content: center; /* Center the content */
    }

    .currency-symbol,
    .usd-label {
        font-size: 16px; /* Reduce the font size */
        position: absolute; /* Keep them positioned absolutely */
        top: 50%; /* Align vertically */
        transform: translateY(-50%); /* Center vertically */
    }
    .currency-symbol {
        left: 10px; /* Position from the left */
    }
    .usd-label {
        right: 10px; /* Position from the right */
    }

    .custom-amount-input {
        padding-left: 30px; /* Add padding to prevent text from hiding behind the symbol */
        padding-right: 30px; /* Add padding to prevent text from hiding behind the label */
        text-align: left; /* Align the text to the left */
    }
}