body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    padding-left: 100px; /* Adjust as needed */
    padding-right: 100px; /* Adjust as needed */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.logo-container,
.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 200px;
    width: 150px;
}

.logo-text {
    color: #f99659;
    text-decoration: none;
    margin-left: 10px;
    font-size: 40px; /* Updated font size */
    font-weight: bold; /* Make text bold */
    transition: all 0.3s ease; /* Optional: For smooth transition effects */
}

.logo-text:hover {
    color: #7798cd;
}

.donate-now-button {
    background-color: #f99659;
    border: none;
    width: 200px; /* Set the width to 219px */
    height: 50px; /* Set the height to 59px */
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; /* Optional: For smooth transition effects */
}

.donate-now-button:hover {
    background-color: #7798cd;
}

.sign-in-text {
    color: #f99659;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px; /* Set font size to 20 */
    font-weight: bold; /* Set font weight to bold */
    transition: all 0.3s ease; /* Optional: For smooth transition effects */
}

.sign-in-text:hover {
    color: #7798cd;
}

/* Adjust the alignment of the button and text on the right */
.nav-container {
    align-self: flex-start;
    padding-top: 140px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #707070;
    background-color: #fff;
    padding: 10px 20px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px; /* Adjust as needed for spacing */
    padding: 5px 10px; /* Add padding for a better box effect */
    transition: all 0.3s ease; /* Optional: For smooth transition effects */
}
.nav-link.active {
    color: #F88037 !important; /* Active link color */
}

.nav-link.active:hover {
    color: #fff !important; /* White color on hover for the active link */
}
.nav-link:hover {
    color: #7798cd;
}
.nav-home:hover {
    background-color: #f99659;
    color: #fff;
}

.nav-about:hover {
    background-color: #f5dd68;
    color: #fff;
}

.nav-events:hover {
    background-color: #ade47a;
    color: #fff;
}

.nav-join:hover {
    background-color: #7798cd;
    color: #fff;
}

.nav-donate:hover {
    background-color: #f99659;
    color: #fff;
}

.nav-gallery:hover {
    background-color: #f5dd68;
    color: #fff;
}
.nav-faq:hover {
    background-color: #ade47a;
    color: #fff;
}
.nav-reach:hover {
    background-color: #7798cd;
    color: #fff;
}

.facebook-icon {
    color: #f99659; /* Set the icon color */
    font-size: 40px; /* Adjust the size as needed */
}

.facebook-icon:hover {
    color: #7798cd; /* Color on hover */
}